/* Write your code here. */
.list-item {
  list-style-type: none;
  margin-right: 16px;
  margin-bottom: 16px;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.thumbnail {
  height: 60px;
  width: 60px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}
